/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-btn3 {
    display: inline-block;
    border: 0 none;
    border-radius: 5px;
    background-color: #00aeef;
    color: #fff;
    padding: 0 95px;
    line-height: 44px;
    font-size: 1.6rem;
    font-weight: 550;
    font-family: "Yu Gothic";
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}
