///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u-mg--link1 {
    margin-top: 10px;
}

.u-mg--para {
    margin-bottom: 46px;
}

.u-mg--para1 {
    margin-bottom: 25px;
}

.u-mg--para2 {
    margin-bottom: 26px;
}

.u-mg--para3 {
    margin-bottom: 22px;
}

.u-mg--para4 {
    margin-bottom: 11px;
}
//------------------------------------------------------------
// background-color
//------------------------------------------------------------
.u-bg--green {
    background-color: #a3d39c;
}

.u-bg--yellow {
    background-color: #fff799;
}

.u-bg--pink {
    background-color: #ffdfdf;
}

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-color--red {
    color: #f22;
}

.u-color--orange {
    color: #ffb258;
}

//------------------------------------------------------------
// row-gap
//------------------------------------------------------------
.u-rg--main {
    row-gap: 44px;
}

.u-rg--link1 {
    row-gap: 29px;
}

.u-rg--link2 {
    row-gap: 13px;
}

//------------------------------------------------------------
// width
//------------------------------------------------------------
.u-width--flexmain {
    width: 30%;
}

.u-width--flexlink1 {
    width: 23.5%;
}
