/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    margin: 0 auto;
    
    &__main {
        background: #fafafa;
        border-bottom: 1px solid #cccc;
    }

    &__inner {
        display: flex;
        margin: 0 auto;
        padding: 34px 0;
        justify-content: space-between;
    }

    &__content {
        width: 30%;

        h2 {
            font-size: 1.4rem;
            border-bottom: 1px solid #cccc;
            padding-bottom: 6px;
        }

        ul {
            margin-top: 2px;
            font-size: 1.4rem;
            line-height: 1.45;
        }
    }

    p {
        text-align: center;
        font-size: 1.2rem;
        padding: 17px 0;
    }
}



