/* Header
------------------------------------------------------------*/
.c-header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 14px;
    padding: 19px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba($color: #a8a8a8, $alpha: 1);

    &__logo {
        height: 50px;
        width: 250px;
    }
    
}

/* Main menu
------------------------------------------------------------*/
.c-gnav {
    .is-active {
        font-weight: 600;
    }

    li {
        display: inline-block;  
    }

    a {
        margin-left: 29px;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: capitalize;
    }
}
