/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    color: #222;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    margin: 37px auto 0;
}

section {
    margin: 0 auto;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
}


