<footer class="c-footer">
    <div class="c-footer__inner">
        <div class="c-footer__content">
          <h2>Box link 1</h2>
          <ul class="c-list1">
            <li><a>Link link</a></li>
            <li><a>Link &nbsp;link link</a></li>
            <li><a>Link &nbsp;link link link link</a></li>
            <li><a>Link link link</a></li>
            <li><a>Link link link link</a></li>
          </ul>
        </div>
        <div class="c-footer__content">
          <h2>Box link 1</h2>
          <ul class="c-list2">
            <li><a>Link link link link link link</a></li>
            <li><a>Link &nbsp;link link link link link link link</a></li>
            <li><a>Link &nbsp;link link link link</a></li>
            <li><a>Link link link link link link link</a></li>
            <li><a>Link link link link link link link link link</a></li>
          </ul>
        </div>
        <div class="c-footer__content">
          <h2>Box link 1</h2>
          <ul class="c-list3">
            <li><a>Link link link link link link link link</a></li>
            <li><a>Link &nbsp;link link</a></li>
            <li><a>Link &nbsp;link link link link</a></li>
            <li><a>Link link link link link link link link link link</a></li>
            <li><a>Link link link link</a></li>
          </ul>
        </div>
    </div>
    
 
  <p>© Copyright Allgrow Labo 2018</p> 
</footer>